.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.737000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.051000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.689000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.685000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:0.000000px;}
.ls3{letter-spacing:6.080000px;}
.ls2{letter-spacing:10.200000px;}
.ls0{letter-spacing:45.760000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-13.200000px;}
._2{margin-left:-8.256000px;}
._0{margin-left:-5.280000px;}
.fc1{color:rgb(179,75,0);}
.fc2{color:rgb(74,105,131);}
.fc0{color:rgb(58,85,112);}
.fs4{font-size:32.000000px;}
.fs1{font-size:64.000000px;}
.fs3{font-size:68.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.yc{bottom:10.228100px;}
.y8{bottom:20.556100px;}
.ya{bottom:23.136030px;}
.y6{bottom:28.784100px;}
.y2{bottom:55.209500px;}
.y5{bottom:70.664200px;}
.y9{bottom:93.275570px;}
.y4{bottom:119.184100px;}
.yb{bottom:131.231600px;}
.y7{bottom:173.275600px;}
.y3{bottom:228.275600px;}
.y1{bottom:374.278000px;}
.ha{height:21.312000px;}
.hb{height:30.088010px;}
.h7{height:37.313750px;}
.h9{height:38.022000px;}
.h8{height:45.288000px;}
.h5{height:46.528000px;}
.h6{height:104.688000px;}
.h2{height:109.637500px;}
.h3{height:128.480000px;}
.h4{height:139.044000px;}
.h0{height:595.275600px;}
.h1{height:595.500000px;}
.w5{width:169.044000px;}
.w6{width:220.088000px;}
.w4{width:458.627500px;}
.w3{width:472.698000px;}
.w2{width:477.279800px;}
.w0{width:841.861400px;}
.w1{width:842.000000px;}
.x0{left:0.000000px;}
.xf{left:36.884000px;}
.x2{left:49.395900px;}
.xb{left:51.458000px;}
.x9{left:67.262000px;}
.xd{left:68.732000px;}
.x7{left:76.211700px;}
.x6{left:90.237000px;}
.xc{left:118.956000px;}
.x8{left:143.978000px;}
.x1{left:183.360100px;}
.x3{left:185.651000px;}
.x4{left:191.717000px;}
.x5{left:193.365000px;}
.xe{left:499.956000px;}
.xa{left:524.978000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:0.000000pt;}
.ls3{letter-spacing:8.106667pt;}
.ls2{letter-spacing:13.600000pt;}
.ls0{letter-spacing:61.013333pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-17.600000pt;}
._2{margin-left:-11.008000pt;}
._0{margin-left:-7.040000pt;}
.fs4{font-size:42.666667pt;}
.fs1{font-size:85.333333pt;}
.fs3{font-size:90.666667pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.yc{bottom:13.637467pt;}
.y8{bottom:27.408133pt;}
.ya{bottom:30.848040pt;}
.y6{bottom:38.378800pt;}
.y2{bottom:73.612667pt;}
.y5{bottom:94.218933pt;}
.y9{bottom:124.367427pt;}
.y4{bottom:158.912133pt;}
.yb{bottom:174.975467pt;}
.y7{bottom:231.034133pt;}
.y3{bottom:304.367467pt;}
.y1{bottom:499.037333pt;}
.ha{height:28.416000pt;}
.hb{height:40.117347pt;}
.h7{height:49.751667pt;}
.h9{height:50.696000pt;}
.h8{height:60.384000pt;}
.h5{height:62.037333pt;}
.h6{height:139.584000pt;}
.h2{height:146.183333pt;}
.h3{height:171.306667pt;}
.h4{height:185.392000pt;}
.h0{height:793.700800pt;}
.h1{height:794.000000pt;}
.w5{width:225.392000pt;}
.w6{width:293.450667pt;}
.w4{width:611.503333pt;}
.w3{width:630.264000pt;}
.w2{width:636.373067pt;}
.w0{width:1122.481867pt;}
.w1{width:1122.666667pt;}
.x0{left:0.000000pt;}
.xf{left:49.178667pt;}
.x2{left:65.861200pt;}
.xb{left:68.610667pt;}
.x9{left:89.682667pt;}
.xd{left:91.642667pt;}
.x7{left:101.615600pt;}
.x6{left:120.316000pt;}
.xc{left:158.608000pt;}
.x8{left:191.970667pt;}
.x1{left:244.480133pt;}
.x3{left:247.534667pt;}
.x4{left:255.622667pt;}
.x5{left:257.820000pt;}
.xe{left:666.608000pt;}
.xa{left:699.970667pt;}
}
