RewriteEngine on

RewriteRule ^404?$ 404.aspx
RewriteRule ^home?$ index.php
RewriteRule ^spielen?$ play.php
RewriteRule ^spiel?$ play.php
RewriteRule ^spiel1?$ play.php
RewriteRule ^spiel2?$ play2.php
RewriteRule ^weiter?$ play.php
RewriteRule ^quelle?$ quellen.aspx
RewriteRule ^cookies?$ cookieinfo.aspx
RewriteRule ^fertig?$ completed.php
RewriteRule ^safari/spiel?$ safari-extra-svgerror/safari-play.php
RewriteRule ^safari/spiel1?$ safari-extra-svgerror/safari-play.php
RewriteRule ^safari/spiel2?$ safari-extra-svgerror/safari-play2.php

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.php -f 

RewriteRule ^(.+)$ $1.php [L,QSA]

ErrorDocument 404 /verdauungssystem/404